@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
